<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Write new chat</title>
    <link rel="stylesheet" href="/style.css"/>
  </head>
  <body>
    <div class="new-container">
    <h2>Write new chat...</h2>
    <form method="post" action="/chats">
      <input placeholder="Write your name?" name="from" />
      <br>
      <br>
      <textarea name="message">Write your message here.</textarea>
      <br>
      <br>
      <input placeholder="add reciever" name="to" />
      <br>
      <br>
      <button class="send">Send</button>
    </form>
  </div>
  </body>
</html>
